.nav{
    height: 5rem !important;
    padding: 1rem;
    display: grid;
    align-items: center;
}
.nav-center{
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
}
.nav-header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}
.nav-btn{
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    justify-self: end;
    color: var(--clr-pri-dark);
}
.nav-subject {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
}
.navLabel {
    font-size: 1.125rem;
}
.nav-select {
    margin-left: 0.25rem;
    padding: 0.25rem;
    font-size: 1rem;
}
.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--clr-pri-light);
    width: 100%;
    box-shadow: var(--dark-shadow);
    z-index: 2;
}
@media screen and (min-width: 768px) {
    .nav-btn {
        display: none;
    }   
    .navbar-fixed {
        left: 40%;
    } 
}
@media screen and (min-width: 1250px) {
    .navbar-fixed {
        left: 25%;
    }
}
