.user-container-option{
    background: rgb(235, 227, 227);
    /* padding: 0.75rem; */
    text-align: center;
}
.user-container-option h4{
    margin-bottom: 0;
    padding: 1rem;
    color: black;
    letter-spacing: 2px;
    font-size: 1rem;
}